---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.title {
				margin: 0;
				color: var(--main-color);
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			.row {
				display: grid;
				grid-template-columns: 40% 50%;
				align-items: center; 
			}
			.column-1,
			.column-2 {
				padding: 0.6rem;
				align-items: center;
			}
			.column-1 img {
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.column-2 {
				margin-left: 2em;
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
					{
						posts.map((post) => (
							<a href={`/blog/${post.id}/`}>
								<div class="row">
									<div class="column-1">
										<img transition:name={post.id} src={post.data.heroImage} alt="" />
									</div>
									<div class="column-2">
										<h4 class="title">{post.data.title}</h4>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</div>
								</div>
							</a>
						))
					}
			</section>
		</main>
		<Footer />
	</body>
</html>
